:root {
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --color-gray-50: #fafafa;
    --color-gray-100: #f2f2f2;
    --color-gray-300: #d4d4d8;
}

body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.text-left {
    text-align: left;
}

.cursor-pointer {
    cursor: pointer;
}

.shadow-md {
    box-shadow: var(--shadow-md);
}

.spacer {
    flex: 1;
}

.card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-gray-100);
    box-shadow: var(--shadow-md);
    cursor: pointer;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (min-width: 768px) {
    .message {
        position: fixed;
        top: 100px;
        left: 0px;
        padding: 10px;
        color: white;
        width: 100%;
        align-items: center;
        justify-content: center;
        animation: 0.5s ease-out 0s 1 slideInFromLeft;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
