name: Extend supported logos

on:
  workflow_dispatch:
    inputs:
        type:
            description: 'chains | symbols | api-providers'
            required: true
        value:
            description: 'Comma separated values OR --clear'
            required: true

permissions:
  contents: write

jobs:
  extend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Git user
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: 'pnpm'

      - name: Extend extension.json
        run: |
          node scripts/extend-json.js "${{ inputs.type }}" "${{ inputs.value }}"

      - name: Commit changes
        run: |
          git add extension.json
          git commit -m "chore: extend ${{ inputs.type }}"
          git push
